*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #3b3f538a;
}

.container{
    max-width: 1440px;
    max-height: 1024px;
    min-width: 1000px;
    min-height: 600px;
    position: relative;
    margin: 0 auto;
}

.container_body1{
    width: 60%;
    height: 92%;
    background-color: #F3F5FC;
    float: left;
}

/* CSS para el diseño del encabezado */
.container_encabezado{
    width: 100%;
    height: 80px;
    background-color: #F3F5FC;
}

.container_logo{
    width: 50%;
    position: absolute;
    left: 20px;
    right: 10px;
    top: 10px;
}

.container_logo img{
    display: inline-block;
}

.container_logo h1{
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 14px;
}

/* CSS para el diseño del textArea y los botones */
.container_cuerpo{
    width: 100%;
    height: calc(100% - 80px);
    background-color: #F3F5FC;
    display: inline-block;
}

.container_cuerpo-area{
    width: 100%;
    height: 100%;
    background-color: #F3F5FC;
}

.container_cuerpo-area textarea{
    display: block;
    width: 60%;
    height: 60%;
    margin: auto;
    resize: none;
    color: #0A3871;
    background-color: #F3F5FC;

    font-weight: 400;
    font-size: 30px;
    line-height: 150%;

    border: none;
}

::placeholder{
    color: #0A3871;
}

.container_area-inferior{
    display: block;
    position: relative;
    width: 80%;
    height: 40%;
    font-size: 15px;
    margin: 0px auto;
}

.container_inferior-logomensaje{
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;

   
    height: 18px;
    left: calc((100% - 490px)/2);
    top: calc((100% - 52%));
}

.container_inferior-logomensaje p{
    display: inline-block;
}

.container_inferior-botones{
    width: 550px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    left: calc((100% - 490px)/2);
    top: calc((100% - 42%));
}

button{
    gap: 8px;
    width: 228px;
    height: 57px;
    border-radius: 24px;
    border-color: #0A3871;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    transition: 1s all;
    cursor: pointer;
}

#btnencriptar{
    background: #0A3871;
    color: white;
}

#btnencriptar:hover{
    background: #09284e;
    transform: scale(1.05);
}

#btndesencriptar{  
    background: #D8DFE8;
    color: #0A3871;
    margin-left: 10px;
}

#btndesencriptar:hover{
    background: #a9aeb4;
    transform: scale(1.05);
}

/*CSS para el diseño del textArea del texto encriptado */
.container_body2{
    width: 40%;
	height: 92%;
	background-color: #F3F5FC;
    position: relative;
    float: left;
}

.container_mensaje{
    background: white;
    width: 400px;
    height: 94%;
    margin: 0 auto;
    top: calc((100% - 94%)/2);
    border-radius: 32px;
    position: relative;
    box-shadow: 2px 2px 2px 2px rgb(87, 82, 82);
}

.container_mensaje-info{
    background: white;
    position: absolute;
    width: 85%;
    left: 7%;
    top: 6%;
    bottom: 6%;
    text-align: center;
    font-weight: bold;
}

.container_mensaje-info img{
    position: absolute;
    left: 2%;
    top: calc((100% - 396px)/2);
}

.container_mensaje-info h2{
    font-size: 25px;
    line-height: 120%;
    color: #343A40;
    position: absolute;
    top: calc((100% - 396px)/2 + 300px);
}

.container_mensaje-info p{
    position: absolute;
    top: calc((100% - 396px)/2 + 365px);
}

.container_mensaje-info textarea{
    width: 100%;
    height: 80%;
    font-size: 30px;
    border: none;
    resize: none;
    background: white;
    color: #0A3871;
}

#btncopiar{
    position: absolute;
    background: #D8DFE8;
    color: #0A3871;
    left: calc((100% - 228px)/2);
    top: calc((100% - 8.2%));
}

#btncopiar:hover{
    color: black;
    background: #a9aeb4;
    transform: scale(1.05);
}

/* CSS para el diseño del pie de pagina */
footer{
    float: left;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 8%;
    text-align: center;
    background-color: rgba(33, 31, 36, 0.815);
}

.footer_logo{
    max-width: 13px;
    min-height: 13px;
}

.piepagina{
    margin: 0 auto;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 18px;
    display: inline-block;
}

@media screen and (max-width: 999px){

    .container{
        min-width: 320px;
        min-height: 480px;
    }

    .container_body1{
        width: 100%;
        height: 55%;
        float: none;
    }

    .container_body2{
        height: 35%;
        width: 100%;
        float: none;
    }

    .container_mensaje{
        width: 70%;
    }

    .container_mensaje-info img{
        display: none;
    }

    .container_mensaje-info h2{
        position: absolute;
        top: calc((100% - 46px)/2);
    }
    
    .container_mensaje-info p{
        position: absolute;
        top: calc((100% - 46px)/2 + 30px);
    }

    #btncopiar{
        position: relative;
        left: 0px;
        top: 0px;
    }

    footer{
        height: 10%;
    }
}

@media screen and (max-width: 600px){
    .container_logo{
        width: 60%;
        
    }

    .container_body1{
        height: 60%;
    }
    .container_body2{
        height: 30%;
    }

    .container_inferior-logomensaje{
        width: auto;
        width: auto;
        display: block;
        align-items: center;
        gap: 0px;
        position: relative;
        left: 0px;
        top: 2%;
    }

    .container_inferior-botones{
        width: auto;
        display: block;
        align-items: center;
        gap: 0px;
        position: relative;
        left: 0px;
        top: 6%;
    }

    #btnencriptar{
        width: 100%;
        height: 50px;
        margin-bottom: 3px;
    }

    #btndesencriptar{
        width: 100%;
        height: 50px;
        margin: 0 auto;
    }

    #btncopiar{
        height: 50px;
    }

    .container_mensaje-info h2{
        font-size: 15px;
    }
    
    .container_mensaje-info p{
        font-size: 10px;
    }

    .container_cuerpo-area textarea{
        font-size: 20px;
    }

    .container_mensaje-info textarea{
        font-size: 20px;
        height: 70%;
    }

    footer{
        height: 15%;
    }
}